<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLShema-instance"
	  autoReload="true"
	  internalLogLevel="Trace"	  
	  internalLogFile="D:\VisualStudio\StudyFolder\CompanyEmployees\internal logs\internallog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<target>
		<target name="logfile" xsi:type="File"
				filename="D:\VisualStudio\StudyFolder\CompanyEmployees\${shortdate}_logfile.txt"
				layout="${longdate} ${level:uppercase=true} ${message}"/>
	</target>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>